<form class="form-horizontal">
  <label for="response">Answer:</label>
  {{textarea class="form-control" value=response id="response"}}

  <label for="user">User:</label>
  {{input class="form-control" value=user id="user" placeholder="leave blank for anonymous..."}}

  <button class="btn btn-custom" {{action 'addAnswer' question}}>Answer</button>
</form>
