<h2>Answers</h2>
<ul>
  {{#each answers as |answer|}}
  <div class="answer-list">
    <li>
      <strong>{{answer.user}}</strong> <i class="text-muted">answered {{moment-from-now answer.date}}:</i> <br>
      <span class="actual-answer">{{answer.response}}</span>
    </li>
  </div>
  {{/each}}
</ul>
