/********************* GENERAL ************************/

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 50px;
}

ul {
  padding-left: 0;
  list-style: none;
}

.btn,
.navbar,
.answer-number {
  font-weight: bold;
}

pre,
.btn {
  border: none;
}

.btn,
.answer-number,
.main-logo h1,
.btn-custom:hover, .container .button-center button:hover {
  color: #fff;
}

pre,
.main-logo,
.answer-number,
.container .button-center {
  text-align: center;
}

.main-logo {
  height: 300;
  background-color: #414e5b;
  background-size: cover;
}

.main-logo h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 150px;
  margin-top: 0;
}

.about {
  width: 800px;
}

.btn,
.actual-answer {
  font-size: 16px;
}


.btn-custom, .container .button-center button {
  background-color: #2f9d9a;
}

.btn-custom:hover, .container .button-center button:hover {
  background-color: #216a68;
}

.answers-label {
  font-size: 12px;
}



.btn {
  margin-top: 5px;
  text-transform: uppercase;
  border-radius: 0;
}

.navbar {
  margin-bottom: 0;
}


textarea, input[type='text'] {
  border: 1px solid #b5b5b5 !important;
  border-radius: 0 !important;
}




/********************** Q & A *******************/

.answer-number {
  font-size: 20px;
  float: left;
  width: 60px;
  height: 50px;
  margin-right: 20px;
  background-color: #d44b4b;
}

.listed-question,
.answer-list {
  border-bottom: 1px solid #cdcdcd;
}


.questions-list li {
  margin: .5em 0;
  padding: 5px 5px 5px 0;
}

.question-link {
  font-size: 20px;
  font-weight: bold;
}

.question-link a {
  color: #333333;
}

a:hover {
  text-decoration: none;
  color: #c94c4c;
}

a:hover,
button:hover {
  transition-duration: .3s;
}

/******************* SINGLE QUESTION PAGE ***********************/

.q-a-section {
  margin-top: 10px;
  padding: 1.5em;
  border: 5px solid #b5b5b5;
}

.q-a-section button {
  font-size: 12px;
}

.q-a-section h2 {
  margin-top: 0;
}

.answer-list li {
  margin: 1em 0;
  padding-left: 10px;
  border-left: 6px solid #2f9d9a;
}

.listed-question p { /* prevent word wrapping answer block*/
  overflow: hidden;
}
