body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
  padding-left: 0;
}

.main-logo {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/background1.png') no-repeat center center;
  background-size: cover;
  height: 300;
}

.main-logo h1 {
  font-weight: 800;
  font-size: 50px;
  color: #fff;
  margin-top: 0;
  line-height: 150px;
}

footer {
  padding: 12px;
}


pre {
  text-align: center;
  border: none;
}

.btn {
  border-radius: 0;
  color: #fff;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.navbar {
    margin-bottom: 0;
}

ul {
  list-style: none;
}

body {
  padding-top: 50px;
}

.questions-list ul,
.about-section {
  margin-top: 50px;
}

.listed-question {
  border-bottom: 1px solid #cdcdcd;
}

.questions-list li {
  border-left: 6px solid #dd5656;
  padding: 10px;
  padding-left: 20px;
  margin: 1.3em 0 1.3em 0;
}

.question-link {
  font-weight: bold;
  font-size: 20px;
}

.question-link a {
  color: black;
}

a:hover {
  color: #c94c4c;
  text-decoration: none;
  transition-duration: 0.3s;
}

textarea,
input[type="text"] {
  border-radius: 0 !important;
  border: 1px solid #b5b5b5 !important;
}

.container .button-center {
  text-align: center;
}

.btn {
  border: none;
}

.btn-success,
.container .button-center button {
  background-color: #2f9d9a;
}

.btn-success:hover,
.container .button-center button:hover {
  background-color: #216a68;
}
