body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
  padding-left: 0;
}

.main-logo {
  text-align: center;
  background-color: #414e5b;
  background-size: cover;
  height: 300;
}

.main-logo h1 {
  font-weight: 800;
  font-size: 50px;
  color: #fff;
  margin-top: 0;
  line-height: 150px;
}

footer {
  padding: 12px;
}


pre {
  text-align: center;
  border: none;
}

.btn {
  border-radius: 0;
  color: #fff;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.navbar {
  margin-bottom: 0;
  font-weight: bold;
}

ul {
  list-style: none;
}

body {
  padding-top: 50px;
}

.questions-list ul,
.about-section {
  margin-top: 50px;
}

.listed-question {
  border-bottom: 1px solid #cdcdcd;
}

.questions-list li {
  /*border-left: 6px solid #dd5656;*/
  padding: 5px;
  padding-left: 0;
  margin: .5em 0 .5em 0;
}

.question-link {
  font-weight: bold;
  font-size: 20px;
}

.question-link a {
  color: black;
}

a:hover {
  color: #c94c4c;
  text-decoration: none;
  transition-duration: 0.3s;
}

textarea,
input[type="text"] {
  border-radius: 0 !important;
  border: 1px solid #b5b5b5 !important;
}

.container .button-center {
  text-align: center;
}

.btn {
  border: none;
  font-size: 16px;
}

.btn-success,
.container .button-center button {
  background-color: #2f9d9a;
}

.btn-success:hover,
.container .button-center button:hover {
  background-color: #216a68;
  transition-duration: 0.3s;
}

.q-a-section {
  border: 5px solid #b5b5b5;
  padding: 1.5em;
  margin-top: 10px;
}

.q-a-section button {
  font-size: 12px;
}

.q-a-section h2 {
  margin-top: 0;
}

.answer-list li {
  border-left: 6px solid #2f9d9a;
  padding-left: 10px;
  margin: 1em 0 1em 0;
}

.actual-answer {
  font-size: 16px;
}

.answer-list {
  border-bottom: 1px solid #cdcdcd;
}

.answer-number {
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
  float: left;
  height: 50px;
  background-color: #dd5656;
  width: 60px;
  color: white;
  font-weight: bold;
}

.listed-question p { /* prevent word wrapping answer block*/
  overflow: hidden;
}

.answers-label {
  font-size: 12px;
}
